h1,h2,h3,h4,h5,h6{
    color:red;
    text-align: center;
    background-color: blue;
}
p {
    color:blue;
    background-color: aqua;
}
a {
    color: blueviolet;
    border-color: red 5px;
   
    
}
